/* Add CSS Styling */
.click {
    background-color: #000000;
    color: white;
}

.noclick {
    background-color: #ffff00;
}

button {
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
}